body {  
    zoom: 0.34;
} 

* {
margin:0;
padding:0;
list-style:none;
vertical-align:baseline;
}

input[type=radio] {
    transform: scale(5);
	
} 
input[type=checkbox] {
    transform: scale(5);
	
} 

textarea {
            width: 95%;
            padding: 10px;
            margin: 10px 0;
            font-size: 45px;
            resize: none;
           
}

h2 {
  text-align: center;
  font-size: 60px;
}
#tempmediopagISPB01 {
	overflow: hidden
	
}/*
#acesso01,#pixincluchave01,#pixextrato01,#pixpag01,#pixreceb01,#pixdevol01,#MCpagtituloutros01,#OMpagtitulban01,
#OBpagtitulban01,#MBA200201,#recebimentoTMR01,#pagrecusalinear01,#sucesserroRECEB01,#MC000101,#OB000101,#HB000101,
#OM000101,#MBA000101,#BanriF000101,#MCard000101,#MC100101,#OB100101,#OM100101,#HB100101,#LT006301,#OB100401,#OM100401,
#HB100401,#MCard100401,#MC101401,#OM101401,#MC405001,#OB405001,#MC250101,#OB250101,#OM250101,#HB250101,#MC250301,#OB250301,
#OM250301,#HB250301,#MC201401,#OB201401,#MC201501,#OB201501,#MC201501,#OB201501,#MC412201,#OM412201 {
      width: 980px; /* Largura reduzida */
    /*  height: 580px; /* Altura reduzida */
     /* overflow: hidden; /* Esconde o conteúdo que ultrapassa */
     /* border: 1px solid #ccc; /* Borda para destacar o iframe */
   /* }
*/
iframe {
 /* position: absolute; */
    transition: transform 0.4s ease-in-out; /* Efeito suave */
    /*position: relative;*/
    margin: 0;
    padding: 0;
    z-index: 100; 
	/* overflow: hidden; */
	
	 
}

iframe:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: bottom right;
  z-index: 9999; 
}

iframe.alertaDX:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: bottom left;
  z-index: 9999; 
}

iframe.baixodireita:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: top left; 
  z-index: 9999;
}

iframe.altodireita:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: bottom left;
  z-index: 9999; 
}


iframe.altoesquerda:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: bottom right; 
  z-index: 9999;
}

iframe.baixoesquerda:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: top right; 
  z-index: 9999;
}

iframe.baixocentro:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: top center; 
  z-index: 9999;
}

iframe.altocentro:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: bottom center; 
  z-index: 9999;
}

iframe.centrocentro:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: center center; 
}

iframe.esquerdacentro:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: left center; 
  z-index: 9999;
}

iframe.direitacentro:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: right center; 
  z-index: 9999;
}


iframe.centroesquerda:hover {
  
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: center left; 
  z-index: 9999;
} 

iframe.centrodireita:hover {
    transform: scale(2.0); /* Aumenta o tamanho do iframe ao passar o mouse */
    transition-delay: 3s;
	transform-origin: center right; 
  z-index: 9999;
} 

#BoletZoom {
	
	zoom: 1;
}
iframe.boletim:hover {
    transform: none; 
	
}

iframe.alerta1x:hover {
    transform: none; /* Impede o efeito de escala */
}

iframe.alerta1b:hover {
    transform: none; /* Impede o efeito de escala */
}

/*iframe.tempmediopagISPB03:hover {
    transform: none; 
}*/

	
/*
iframe.APIalerta03:hover {
 transform: scale(4.0);
 position: fixed;
 transition-delay: 3s;
 
 }
*/

.danger {
  background-color: black;
  border-left: 25px solid #ffeb3b;
  margin-bottom: 5px;

  
}

p.aviso {
  color: yellow;
  font-size: 70px;
  padding: 50px 50px;
  margin: 0;
  text-align: left;
}

a.corAvisoLink {
	color: yellow;
}

#botao {
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  color: black;
  border: 3px solid white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 45px;
  margin: 4px 2px;
  transition-duration: 0.8s;
  cursor: pointer;
}

#redondo {
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  color: white;
  border: 3px solid white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 45px;
  margin: 4px 2px;
  transition-duration: 0.8s;
  cursor: pointer;
  border-radius: 50px
   
}

#botao:hover {
  background-color: Green;
  color: white;
}

#botao3 {
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  color: white;
    border: 3px solid white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 45px;
  margin: 4px 2px;
  transition-duration: 0.8s;
  cursor: pointer;
  background-color: Red;
}

#botao3:hover,#botao2:hover {
  background-color: Green;
  color: white;
}

#botao03 {
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  color: black;
  border: 3px solid white;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 45px;
  margin: 4px 2px;
  transition-duration: 0.8s;
  cursor: pointer;

}


#botao2 {
  margin: 0 auto;
  color: black;
  text-align: center;
  font-size: 60px;
  border: 3px solid white;
  text-decoration: none;
  font-size: 45px;
  transition-duration: 0.8s;
  cursor: pointer;
}


#name {
  text-align: center;
  font-size: 60px;
}

#numb {
  text-align: center;
  font-size: 60px;
}



#divbutton {
    position: fixed;
	z-index: 2; 
	background-color: rgba(0,0,0,0.3);  
	border-radius: 0px  80px;
}

#divbutton2 {
    position: fixed; <!--  position: flex; fixed, absolute -->
	top: 20%;
	z-index: 1; 
	overflow: hidden;  
    background-color: rgba(0,0,0,0.4);  
	border-radius: 50px  0px;
}

#divbutton2header {
  cursor: move;
}

#div1,#div2,#div3,#div4,#div5,#div6,#div8,#div9,#div10,
#div007,#grafic,#grafic2,#grafic4,
#grafic5 {
    display: flex;
}

#grafic3 {
    display: flex;
	width: 6850;
    height: 2000;
	overflow: hidden;
	padding: 0px;
}

body {
  background-color: black; 
}

a { 
 color: black;
 text-decoration: none;

}

h4 {
  color: black;
  text-align: center;
  padding: 0px;
}

h3 {
  color: black;
  text-align: center;
}


p {
  color: white;
  font-size: 60px;
  padding: 0px;
}
 
table.tabela, td.tabela {
  border: 1px solid black;
  border-collapse: collapse;
} 

table, th, td {
  border: 1px solid black;
  border-spacing: collapse;
  border-collapse: collapse;
  text-align: center;
  padding: 0px;
}
/*
#MC0001,
#MC0002,
#MC0003,
#MC0004,
#MC0005,
#MC0006,
#MC0007,
#MC0008,
#MC0009,
#MC0010,
#MC0011,
#MC0012,
#MC0013,
#MC0014,
#MC0015,
#MC0016,
#MC0017,
#MC0018,
#MC0019,
#MC0020 {
  position: relative;
 /* z-index: auto; /* ou 6, se quiser forçar */
}
*/


tr.tabela:nth-child(even) {
  background-color: DarkGoldenRod;
}

.botones {
  text-align: center;
}

button {
  border: 3px solid white;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  transition-duration: 0.8s;
  cursor: pointer;
  border-radius: 0px 80px 0px;
}

.searchInput {
  border: 3px solid white;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 65px;
  margin: 4px 2px;
}

button:hover {
  background-color: Green;
  color: white;
}
button.corX:hover {
  background-color: Green;
  color: white;
}


button.corX {
  background-color: Black;
  color: white;
}

button.corX1 {
  background-color: Black;
  color: white;
}

button.corX2 {
  background-color: Black;
  color: white;
}


button.corX3 {
  background-color: Black;
  color: white;
}

button.Bolet {
  background-color: black; 
  color: white;
}

button.corX1:hover {
  background-color: #DAA520;
  color: white;
}



button.corX2:hover {
  background-color: #DAA520;
  color: white;
}



button.corX3:hover {
  background-color: Green;
  color: white;
}

button.corR {
  background-color: #FF0000; <!-- Vermelho -->
  color: white;
}

button.corR:hover {
  background-color: Green;
  color: white;
}

button.corB {
  background-color: #DAA520; <!-- Dourado -->
  color: white;
}

button.corB:hover {
  background-color: Green;
  color: white;
}

button.corPQ {
  background-color: #808080; <!-- Cinza -->
  color: white;
}

button.corPQ:hover {
  background-color: Green;
  color: white;
}

button.corS {
  background-color: Violet;
  color: #010101; <!-- Preto -->
}

button.corS:hover {
  background-color: Green;
  color: white;
  /* transform: rotateY(150deg); */
}

button.verD {
  background-color: #04AA6D;
  color: white;
}

button.verD:hover {
  background-color: Green;
  color: white;
}

button.corForm {
  background-color: #03787c;
  color: white;
}
button.corForm:hover {
  background-color: #13a10e;
  color: white;
}

button.corP {
  background-color: #6495ED; <!-- Azul -->
  color: white;
}

button.corP:hover {
  background-color: Green;
  color: white;
}

button.Indic {
  background-color: #808080; <!-- Cinza -->
  color: white;
}

button.Indic:hover {
  background-color: Green;
  color: white;
}

button.M365 {
  background-color: #934DD8; 
  color: white;
}

button.M365:hover {
  background-color: Green;
  color: white;
}


button.Bolet:hover {
  background-color: yellow;
  color: black;
}

/*
button.Bolet:hover::after {
      content: "Tô fazendo!";
}
*/


#sair2 {
  margin: 0 auto;
  text-align: left;
}
 /*  
#APIalerta02 {
  z-index: -3; 
  width: 4250;
  height: 4000;
  border: 0px;
}
#APIalerta02 {
  zoom: 1.00;
    z-index: -3;
  -moz-transform: scale(0.0);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.0);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(2.2);
  -webkit-transform-origin: 0 0;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
#APIalerta02 {
	z-index: -3;
	position:flex; 
    zoom: 1;
    }
 }
*/
#passagemT{
  position:fixed; 
  top:95%;
  left:84%;
  transform: translate(-50%, -50%);
}

.ribbon {
  width: 200px;
  font-size: 40px;
  padding: 4px;
  position: absolute;
  right: -30px;
  top: -40px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(10deg);
  background-color: #ff9800;
  color: white;
}

.ribbon2 {
  width: 100px;
  font-size: 40px;
  padding: 4px;
  position: absolute;
  right: -50px;
  top: -50px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(10deg);
  background-color: #2E8B57;
  color: white;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgba(0,0,0,0.0); /*2a422a*/
  color: white;
border: 0px;	
	
}

.imgcontainer {
  text-align: center;
  position: relative;
	border: 0px;
}

.container {
  padding: 0px;
  border: 16px;
 
}



/* Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 42%;
  top: 20%;
  width: 20.8%; 
  height: 80%; 
  overflow: hidden;  
  background-color: rgba(0,0,0,0.0);  
  padding-top: 0px;
  font-size: 55px;
  color: black;
  border: 0px;
}

/* Modal (background) */
.modal2 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 37%;
  top: 30%;
  width: 30%; 
  height: 58%; 
  overflow: hidden;  
  background-color: rgba(0,0,0,0.0);  
  padding-top: 0px;
  font-size: 55px;
  color: black;
}

/* Modal Box */
.modal-content {
  background-color: rgba(0,0,0,0.7);
  margin: 5% auto 5% auto;  
  border: 0px solid #888;
  width: 100%;  
}

/* Botão (x) */
.close {
 margin: auto;
  position: absolute;
  right: 1px;
  top: 1;
  color: white;
  background-color: red;  
  font-size: 49px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

/* Zoom Animação */
.animate {
  -webkit-animation: animatezoom 1.6s;
  animation: animatezoom 1.6s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
  
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  --base-color: #263238; /*use your base color*/
}
.loader::before {
  content: '';  
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FFF;
  background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}

:root {
  --line-bg: #111;
  --line-height: 30px;
  --light-width: 50%;
  --light-cell-number: 8;
  --light-cell-width: calc(var(--line-height) * 3);
  --light-cell-separator-width: calc(var(--line-height) * 0.1);
  /* red light #ff000 */
  --light-color-on: rgba(165,255,0,1);
  --light-color-off: rgba(165,255,0,.25);
  
}

.line {
  position: relative;
  width: calc(((var(--light-cell-width) + var(--light-cell-separator-width)) * var(--light-cell-number)) - var(--light-cell-separator-width));
  height: var(--line-height);
  overflow: hidden;
  background: var(--line-bg);
  /* center */
  top: 1.2vh;
  left: 15vw;
  transform: translateX(-50%) translateY(-50%);
}

.line:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(
    90deg,
    var(--light-color-off),
    var(--light-color-off) var(--light-cell-width),
    var(--line-bg) var(--light-cell-width),
    var(--line-bg) calc(var(--light-cell-width) + var(--light-cell-separator-width))
  );
  background-size: 200% 200%;
}

.light {
  position: absolute;
  top: 0;
  height: 100%;
  left: calc(var(--light-width) / 2 * -1); /* hidden start */
  width: var(--light-width);
  background: linear-gradient(90deg, transparent 0%, var(--light-color-on) 45%, var(--light-color-on) 55%, transparent 100%);
  animation: KITT 2.3s infinite ease-in-out alternate;
}

@keyframes KITT {
  0%, 100% {
    left: calc(var(--light-width) / 2 * -1);
  }
  50% {
    left: calc(100% - var(--light-width) / 2);
  }
}


/* Modal (background) */
.modalB {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0%;
  top: 20%;
  width: 90%; 
  height: 70%; 
  overflow: hidden;  
  background-color: rgba(0,0,0,0.0);  
  padding-top: 0px;
  font-size: 55px;
  color: black;
  border: 0px;
  zoom: 2.3;
}

.imgcontainerB {
  text-align: left;
  position: relative;
	border: 0px;
}

.containerB {
  padding: 0px;
  border: 16px;
 
}

/* Add Zoom Animation */
.animate2 {
  -webkit-animation: animate2zoom 0.6s;
  animation: animate2zoom 0.6s
}

@-webkit-keyframes animate2zoom  {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animate2zoom  {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.tree {
    position: relative;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid green;
  }
  .tree:before, .tree:after {
    content: '';
    position: absolute;
    left: -80px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 120px solid green;
  }
  .tree:before {
    top: -100px;
  }
  .tree:after {
    top: -200px;
  }

.star {
    position: absolute;
    top: -230px;
    left: -15px;
    font-size: 30px;
    color: gold;
    animation: twinkle 1s infinite alternate;
  }
  .light {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    animation: blink 1s infinite alternate;
  }
  @keyframes blink {
    from { opacity: 0.2; }
    to { opacity: 1; }
  }
  @keyframes twinkle {
    from { transform: scale(0.8); opacity: 0.5; }
    to { transform: scale(1.2); opacity: 1; }
  }













